# Основные библиотеки для работы с нейросетями
torch==2.0.1
torchvision==0.15.2
tensorflow==2.14.0

# Библиотеки для обработки данных
numpy==1.24.3
pandas==2.0.3
scikit-learn==1.2.3
scipy==1.10.1

# Обработка изображений
opencv-python==4.8.0.74
Pillow==9.5.0
SimpleITK==2.2.1

# Взаимодействие с API и базами данных
requests==2.31.0
python-dotenv==1.0.0

# Визуализация данных
matplotlib==3.7.2
seaborn==0.12.2

# Логирование и отладка
loguru==0.7.0

# Модели трансформеров (для интеграции с NLP)
transformers==4.33.2

# Прогресс бар
tqdm==4.65.0

# Другие полезные библиотеки
jsonschema==4.19.0
